description: Late Night
title: Late Night

devices:
  capture:
    channels: 2
    device: "{{ camilladsp_capture_device }}"
    format: "{{ camilladsp_format }}"
    type: Alsa
  chunksize: {{ camilladsp_chunksize }}
  playback:
    channels: 2
    device: "{{ camilladsp_playback_device }}"
    format: "{{ camilladsp_format }}"
    type: Alsa
  samplerate: {{ camilladsp_samplerate }}

filters:
  Bass:
    parameters:
      freq: 85
      gain: 4.0
      q: 0.9
      type: Lowshelf
    type: Biquad
  Treble:
    parameters:
      freq: 6500
      gain: 2.0
      q: 0.7
      type: Highshelf
    type: Biquad

pipeline:
- channels:
  - 0
  names:
  - Bass
  - Treble
  type: Filter
- channels:
  - 1
  names:
  - Bass
  - Treble
  type: Filter
