description: Relaxed
title: Relaxed

devices:
  capture:
    channels: 2
    device: "{{ camilladsp_capture_device }}"
    format: "{{ camilladsp_format }}"
    type: Alsa
  chunksize: {{ camilladsp_chunksize }}
  playback:
    channels: 2
    device: "{{ camilladsp_playback_device }}"
    format: "{{ camilladsp_format }}"
    type: Alsa
  samplerate: {{ camilladsp_samplerate }}

filters:
  Presence:
    parameters:
      freq: 2500
      gain: -1.5
      q: 1.0
      type: Peaking
    type: Biquad

pipeline:
- channels:
  - 0
  - 1
  names:
  - Presence
  type: Filter
