[Unit]
Description={{ item.name }} MQTT service
After=network-online.target{% if item.after is defined %} {{ item.after | join(' ') }}{% endif %}
Wants=network-online.target
{% if item.wants is defined %}
Wants={{ item.wants | join(' ') }}
{% endif %}

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ aswitch_app_dir }}
EnvironmentFile=-{{ aswitch_app_dir }}/.env
ExecStart={{ aswitch_app_dir }}/.venv/bin/python {{ aswitch_app_dir }}/{{ item.script }}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
